//Color
$primaryColor: #F0FCF7;
$secondaryColor: #A1FFE0;
$tertiaryColor: #7BD9CD;
$fourthColor: #5EB3B6;
$fifthColor:#3C6A7A;
$sixthColor:#2F4858;

$iconColor:#678285;



//size
$base: 16px;
$font: 14px;
$radius: 6px;
$padding: 25px;

// font sizes
$h1: 26px;
$h2: 20px;
$h3: 18px;
$title: 18px;
$header: 16px;
$body: 14px;
$caption: 12px;

// letter spacing
$sh1:0;
$sh2:0.15;
$sh3:0.15;
$stitle:0.15;
$sheader:0.15;
$sbody:0.1;
$scaption:0.4;

//font weight
$light: 200;
$regular:300;
$semibold:400;
$bold: bold;

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}



.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 $base*5 0 $base*5;
}
.about-sub-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-sub-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-intro-title{
    font-size: $h1*2;
    font-weight: bold;
    color: $sixthColor;
}


.about-intro-description{
    font-size: $h2;
    line-height: $base*2;
    letter-spacing: $sh2;
    padding-right: $base*4;
}


.timeline-card{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.timeline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.circle-icon{
    width: $caption;
    height: $caption;
}
.vertical-line{
    width: 1px; 
    background-color: $fourthColor;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.timeline-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: $base*4;
    flex: 4;
}

.timeline-detail-lbl{
    font-size: $title;
    font-weight: bold;
    line-height: 0.8;
    color: $sixthColor;
}

.timeline-detail-desc{
    font-size: $base;
    margin-top: $caption;
    color: $fifthColor;
    
    
}

@keyframes mystart {
    0%   {
        opacity:0;
        }
    100% {
        opacity:1; 
        }
}

.c1{
    animation: mytimeline 2s ;
}
.c2{
    animation: mytimeline 1.5s ;
}
.c3{
    animation: mytimeline 1s ;
}

@keyframes mytimeline {
    0%   {
        opacity:0;
        
        }
    100% {
        opacity:1; 
        
        }
}

//Web Size
@media screen and (min-width: 600px) {
    .about-intro-title-object{
        transition: all .2s ease;
    }
    .about-intro-title-object:hover{
        color: #5EB3B6;
        font-size: $h1*2.5;
    }
}
 

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: $base;
    }
    .about-intro-title{
        font-size: $h1;
        font-weight: bold;
        color: $sixthColor;
    }
    .about-intro-description{
        padding-right: 0;
    }
    .about-sub-right{
        margin-top: $base*2;
    
    }
    .timeline-detail-lbl{
        line-height: 1;
    }
    
  }
  
